<div class="container">
  <h1 class="page-header">This demo is not yet configured.</h1>
  <center>
    <p>
      In order to use the whitelabel demo,
      <br /> please read the README and set all variables before attempting to load the page. 
      <br />You have upset our kitten by not doing so. How could you.
    </p>
  </center>
  <br />
  <br />
  <center>
    <img src="https://c4.staticflickr.com/4/3595/3399667418_b45dcb877e_b.jpg" class="img-rounded" width="350">
  </center>
</div>