<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Example Off-Site Gateway Flow</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="#"><%= if current_page?(:controller => 'dashboard', :action => 'step1') then 'Step 1' else 'Step 2' end %></a>
        </li>
      </ul>
    </div>
  </div>
</div>

<br />